*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:fixed;
    background-repeat: none;
    background-size:auto;
}

.nav{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color:#042123;
    color: white;
    height: 150px;
}
.nav ul{
    margin-top:30px;
}
.nav li{
    display: inline;
    margin: 20px;
    border: 1px solid white;
    padding: 12px;
    border-radius: 10px;

}
.container{
    display: flex;
    justify-content: space-around;
    margin: 10%;
}
.images{
    width: 50%;
    margin: 0 40px 0 0;
}
.images img{
    height:400px;
    width: 100%;
    border-radius: 20px;

}
.aboutus{
    font-size: 20px;
    width: 500px;
    margin: auto;
}
.aboutus h2{
    font-size: 70px;

}
.aboutus h2,p{
    padding:0 0 30px 0;
    font-weight: 900;
}
.aboutus button{
    padding: 20px;
    color: white;
    background-color: rgb(24, 23, 23);
    border-radius: 10px;
}
#more{
    display: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
.logo h1 p{
    width:50px;
    margin: 20px;
    padding: 35px;
}
.logo p{
    text-decoration: none;
    font-weight: 100;
    font-size: 20px;
}
.logo h1 {
    margin-bottom: 10px;
}