*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;

}
.container{
    display: flex;
    justify-content: space-around;
    margin: 10%;
}
.images{
    width: 50%;
    margin: 0 40px 0 0;
}
.images img{
    height:400px;
    width: 100%;
    border-radius: 20px;

}
.aboutus{
    font-size: 20px;
    width: 500px;
    margin: auto;
}
.aboutus h2{
    font-size: 70px;

}
.aboutus h2,p{
    padding:0 0 30px 0;
    font-weight: 900;
}
.aboutus button{
    padding: 20px;
    color: white;
    background-color: rgb(24, 23, 23);
    border-radius: 10px;
}