*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("../images/world.jpg");
    height: 100vh;
}
.nav{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin: 10px;
    color: white;
    height: 150px;
    width: 100%;
}
.nav ul{
    margin-top:30px;
}
.nav li{
    display: inline;
    border: 1px solid white;
    padding: 12px;
    border-radius: 10px;

}
.container{
    display: flex;
    justify-content: space-around;
}
.contactus{
    margin: 20px;
    width: 60%;
    
}
.contactus h2,p{
    margin-bottom: 10px;

    
}
.contactus ,h2, p{
    color: white
}
.form .input, textarea{
    width: 700px;
    padding: 10px;
    margin:15px 0 15px 0;
}
input ,textarea:focus{
    border: none;
}
.form .checkb ,button{
    margin:25px 0 25px 0;
}
.form button{
    padding: 10px 30px;
}
.form span{
    border: 1px solid white;
    padding: 20px;
    background-color: rgb(27, 26, 26);
}
.form .checkb{
    padding: 10px;
}
.socialinfo{
    margin-top: 20vh;
}
.socialinfo, h3, p{
    color: white;
}
.socialinfo, p, i{
    margin-bottom: 30px;
}
.socialinfo i{
    padding: 10px;
    font-size: 55px;
}
.socialinfo p{
    font-weight: 700;

}
.socialinfo h3{
    font-size: 50px;
}
@media screen and (max-width:600px) {

.nav{

    flex-wrap: wrap;
    margin-left: -30px;
}  

.form .input, textarea{
    width: 200px;
    padding: 10px;
    margin:15px 0 15px 0;
}

.container{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.form .checkb ,button{
    margin:15px 0 15px 0;
}
.form button{
    padding: 5px 10px;
}
.form span{
    border: 1px solid white;
    padding: 5px;
    background-color: rgb(27, 26, 26);
    flex-wrap: wrap;
}
.form .checkb{
    padding: 5px;
}

.socialinfo{
    margin-top: 20vh;
    margin-left: 30px;
    margin-top:37%;
}
.socialinfo, h3, p{
    color: white;
    width: 100%;
}
.socialinfo, p, i{
    margin-bottom: 40px;
}
.socialinfo i{
    padding: 5px;
    font-size: 25px;
}
}

@media screen and (max-width:1024px) {

    .container{
        display: flex;
        justify-content: space-around;
    }

.contactus{
    margin: 20px;
    width: 40%;
    
}
.contactus h2,p{
    margin-bottom: 10px;

    
}
.contactus ,h2, p{
    color: white
}
.form .input, textarea{
    width: 100%;
    padding: 10px;
    margin:15px 0 15px 0;
}
    
   
    }