*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

}
.nav{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color:#042123;
    color: white;
    height: 150px;
}
.nav ul{
    margin-top:30px;
}
.nav li{
    display: inline;
    margin: 20px;
    border: 1px solid white;
    padding: 12px;
    border-radius: 10px;

}
.identity h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.search input{
    padding: 15px;
    width: 80%;
    border-radius: 10px;
}
section{
    margin: auto;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    flex-wrap: wrap; 
    position: relative; 
    margin-bottom: 30px;
}
.container .identity{
    padding: 30px 20px ;
    transition: all 0.3s ease-in-out;
    background-color: #042123;
    animation: oscillateBG 10s ease infinite;;
    background-size: 600% 600%;
    position: relative;
    color: white;
    margin-top: 30px;
}

@keyframes oscillateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.identity img{
    width: 300px;
}

.container button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    background-color: black;
    border-radius: 10px;
    margin:10% 0 0 30%;
    border: none;
    transform: rotate3d(180deg);
    color: white;
}

.container button a{
    color:white;
}

.container button:hover{
    color: #042123;
    letter-spacing: 0.2rem;
    background-color: #1e9bff;
    box-shadow: 0 0 35px #1e9bff;
    transition: 0.8s ease;
}

.container button:focus{
    outline: none;
    background-color: #042123;
}
.formboard{
    background-color: rgb(124, 115, 115);
    padding: 10px;
    width:30%;
    height: 500px;
    position: fixed;
    top: 13%;
    border-radius: 10px;
    border:white;
    text-align: center;
    margin-left:35%;
    display: none;
}
.formboard input,textarea, .btn{
    width: 100%;
    padding: 20px;
}
.formboard h2{
    color: white;
}
.formboard input,textarea, .btn{
    width: 100%;
    padding: 20px;
}
.formboard input,textarea{
    border-radius: 10px;
}
.formboard  .btn{
    color: white;
    background-color: black;
    border-radius: 10px;
}


