*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.search input{
    padding: 15px;
    width: 80%;
    border-radius: 10px;
}
section{
    margin: auto;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    flex-wrap: wrap; 
    position: relative; 
}
.container .identity{
    padding: 30px 20px ;
}
.container button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    color:white;
    background-color: black;
    border-radius: 10px;
    margin:10% 0 0 30%;
    
}
.formboard{
    background-color: rgb(124, 115, 115);
    padding: 10px;
    width:30%;
    height: 500px;
    position: fixed;
    top: 13%;
    border-radius: 10px;
    border:white;
    text-align: center;
    margin-left:35%;
    display: none;
}
.formboard input,textarea, .btn{
    width: 100%;
    padding: 20px;
}
.formboard h2{
    color: white;
}
.formboard input,textarea, .btn{
    width: 100%;
    padding: 20px;
}
.formboard input,textarea{
    border-radius: 10px;
}
.formboard  .btn{
    color: white;
    background-color: black;
    border-radius: 10px;
}


